body {
  display: flex;
  justify-content: space-around;
}

nav .nav-wrapper {
  font-family: 'Orbitron', sans-serif;
}

new-game {
  position: fixed;
  right: 5%;
  z-index: 2;
  background-color: white;
  padding: 20px;
}
