.cell {
  height: 50px;
  width: 50px;
  background-color: grey;
  border: 1px solid black;
  float: left;
  color: white;
  font-size: 10px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.cell h4 {
  position: absolute;
  bottom: -30%;
}

#board {
  margin: 50px;
}

img {
  width: 105%;
  height: auto;
}

#info {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: green;
  display: flex;
  justify-content: space-around;

}

h2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

#banner {
  position: fixed;
  top: 40%;
  margin: 5% auto;
  left: 0;
  right: 0;
  z-index: 1;
}

#banner h1 {
  text-align: center;
  font-weight: 600;
  font-size: 120px;
  background-color: rgba(255, 0, 0, 0);
  color: rgba(0, 0, 0, 0.7);
}
