<div id="board" [style.width.px]="board.width" (change)="newGame()">
  <div id="info">
    <div class="left">
      <h2>{{board.clickCount}}</h2>
      <small>Clicks</small>
    </div>
    <div class="center">
      <h2>{{board.seconds}}</h2>
      <small>{{board.player}}</small>
    </div>
    <div class="right">
      <h2>{{board.remainingFlags}}</h2>
      <small class="right">Flags</small>
    </div>
  </div>
    <div *ngFor="let cell of board.cells">
      <div (mouseup)="handleClick(cell, $event)" class="cell" [id]="cell.x + '' + cell.y" [style.background-color]="determineColor(cell)">
        <h4 *ngIf="cell.isRevealed && cell.contiguousBombs">{{cell.contiguousBombs}}</h4>
        <img src=".././assets/img/bomb.png" *ngIf="cell.isBomb && cell.isRevealed">
        <img src=".././assets/img/flagicon.png" *ngIf="cell.isFlagged && !cell.isRevealed">
      </div>
    </div>
</div>
